<!DOCTYPE HTML>
<html>
<head>
    <title>Springboot WebService</title>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>
    <link rel="stylesheet" href="http://stack.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
</html>