<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹사이트 베이스</title>
    <meta http-equiv = "Content -Type" content="text/html; cahrset =UTF-8"/>

</head>
</html>
{{>layout/header}}
    <h1> Springboot Webservice</h1>
    <div class id="col-md-12">
        <div class="row">
            <div class="col -md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            </div>
         </div>
    </div>
{{>layout/footer}}