<!DOCTYPE HTML>
<html>
<head>
    <title>Springboot-Webservice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
{{>layout/header}}
<h1>Springboot-Webservice</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
</div>
{{>layout/footer}}
</body>
</html>
